body{
    min-width:1020px;
}

header h1 {
    text-align: center;  
    font-size: 28px;
    /*font-size: 2.5vw;*/
    margin-top: 15px;
}

 h1 span { 
    font-size: 34px;
}

.them-bg {
    background: url(../imgs/theam.jpg) no-repeat top #FFF;
    height: 350px;
    /*background-size:100% 100%;*/
}


.img-responsive {
    width: 100%;   
}

.login-screen{
      margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 350px;
    height: 220px;
    background-color: rgb(216, 216, 216);
    border: 2px solid #999;
}

#login{
    margin: auto;
    max-width: 320px;
    width: 94%;
}

#login a{
     text-decoration: none;  
}

.gray-color-txt{
    color: #999;
}

.pull-left{
    float: left;   
}

.pull-right{
    float: right;   
}

#inputs{
    padding: 15px 0px;   
}

#actions .links {
    width: 58%; 
    line-height: 150%;
}

#inputs input {    
    padding: 10px;
    margin: 10px 6%;
    width: 80%;
    border: 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.orange-bg{
    background-color:#EAAA00;
}

.blue-bg{
    background-color:#2077BE;
}


#submit {    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    height: 40px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    color: #FFF;
    border: 0px;
    background-color: #F44336;
}

fieldset{
    border:none;    
}

/*admin panal */

nav li {
    width:11%;
    
}

.main-container {
    width: 90%;
    margin-left: 5%;
    padding: 20px 10px;
    min-height: 500px;
}

.heading-admin{
    font-size: 22px;
    background: #999;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px; 
}

.center {
    text-align:center;
        width: 15%;
}

.admin-heding{
    text-align: center;
    border-bottom: 3px solid #ccc;
    
}

.table-theme th{
    border: 1px solid #ccc;
    padding: 5px;
    background: #999;
    color: #fff;
}

.table-heading{
    margin: 5px 0px;
}

.admin-leftpanal{
    width:100%;
    margin-bottom: 30px;
}

.total-count{
    color: #FF5722;
}

.table-theme {
    border-collapse: collapse;   
    width:100%;
}

.entry-count-table{
    
}


.entry-count-table tbody tr:nth-child(odd) {
    background: #F3F3F3;
}

.table-theme tbody td{
    border: 1px solid #ccc;
    padding: 5px;
}


.add-event-btn {
    background: #F44336;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    border:none;
}

.new-event-popup{
  margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 15px 3%;
    float: left;
    width: 94%;
}

.new-event-popup .left-col, .new-event-popup .right-col{
    width:48%;
}


.top-corener-round{
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -1px;
}


form label {display:inline-block; width:100px;}
form input[type="text"]{
        width: 70%;
    height: 20px;
    min-width: 200px;
    margin: 0px 5px;
}

form textarea{
       width: 70%;
    min-width: 200px;
    height: 115px;
     vertical-align: top;
}

form .line {padding: 10px 0px}
form .line.submit {text-align:right;}